# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Data (no subir datasets grandes)
data/raw/*.csv
data/raw/*.xlsx
data/processed/*.csv
*.db

# Models (no subir modelos pesados)
models/*.h5
models/*.pkl
models/*.joblib

# VSCode
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Otros
*.log
.cache/